<h1>Livros</h1>
<a Class="btn btn-primary btn-sm" ui-sref="adicionar">Cadastrar livro</a>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Categoria</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="livro in $ctrl.livros">
        <td>{{livro.id}}</td>
        <td>{{livro.titulo}}</td>
        <td>{{livro.autor}}</td>
        <td>{{livro.categoria}}</td>
        <td><a class="btn btn-default" ui-sref="alterar({ livroId: livro.id })">Editar</a>&nbsp;<a class="btn btn-danger" href ng-click="$ctrl.excluir($index)">Excluir</a></td>
    </tr>
    </tbody>
</table>