<h1>Livros</h1>
<a href="#!livro">Cadastrar</a>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Categoria</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="livro in livros">
        <td>{{livro.id}}</td>
        <td>{{livro.titulo}}</td>
        <td>{{livro.autor}}</td>
        <td>{{livro.categoria}}</td>
        <td><a ng-href="#!/livro/{{livro.id}}">Editar</a>&nbsp;<a href ng-click="excluir(livro.id)">Excluir</a></td>
    </tr>
    </tbody>
</table>