<h1>Formulário</h1>
<form name="livroForm" ng-submit="$ctrl.submeter()">
    <label>Título: </label>
    <input type="text" ng-model="$ctrl.livro.titulo">
    <br>
    <label>Autor: </label>
    <input type="text" ng-model="$ctrl.livro.autor">
    <br>
    <label>Categoria: </label>
    <select ng-model="$ctrl.livro.categoria">
        <option value="Comédia">Comédia</option>
        <option value="Drama">Drama</option>
        <option value="Suspense">Suspense</option>
        <option value="Terror">Terror</option>
    </select>
    <br>
    <button type="submit">Submeter</button>
    <a ui-sref="home">voltar</a>
</form>
